services:
  dataiku:
    image: dataiku/dss:14.2.0
    #    platform: linux/arm64 # Force AMD64 architecture
    container_name: dataiku-dss
    ports:
      - "10000:10000" # DSS web interface port
    volumes:
      - ./data:/home/dataiku/data # Bind mount for persistent storage
    environment:
      - DSS_ADMIN_LOGIN=admin # Default admin username
      - DSS_ADMIN_PASSWORD=admin # Default admin password
#    restart: unless-stopped

